<!-- chat/templates/chat/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header" class="sticky-top">
    <span class="logo"><a href="{% url 'dashboard' %}">ByteJobs</a></span>
    <ul class="menu">
    {% if request.user.is_authenticated %}
      {% if request.user.is_staff %}
        <li {% if section == "admin" %} class="selected"{% endif %}>
          <a href="{% url 'admin:index' %}">Admin panel</a>
        </li>
      {% endif %}
        <li {% if section == "dashboard" %} class="selected"{% endif %}>
          <a href="{% url 'dashboard' %}">My dashboard</a>
        </li>
    {% endif %}
        <li {% if section == "companies" %} class="selected"{% endif %}>
          <a href="{% url 'companies' %}">Companies</a>
        </li>
        <li {% if section == "offers" %} class="selected"{% endif %}>
          <a href="{% url 'offer_list' %}">Offers</a>
        </li>
        <li {% if section == "calculator" %} class="selected"{% endif %}>
          <a href="{% url 'calculator' %}">Calculator</a>
        </li>
        {% if request.user.company %}
          <li {% if section == "new_offer" %} class="selected"{% endif %}>
            <a class="button" href="{% url 'offer_add' %}">CREATE NEW OFFER</a>
          </li>
        {% endif %}
      </ul>
    
    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Log-in</a>
      {% endif %}
    </span>
    </div>
    <div id="content" class="d-flex flex-column align-items-center">
        <textarea style="background-color: white;" id="chat-log" cols="100" rows="20"></textarea><br>
        <input style="background-color: white;" id="chat-message-input" type="text" size="100"><br>
        <input style="background-color: white;" id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
    </div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    
  </footer>
</body>
</html>