{% extends 'base.html' %}
{% block title %}{{ object.offer.offer_title }}{% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-between">
    <div class="d-flex flex-row align-items-center flex-wrap mb-4">
        {% if object.company.logo %}
            <img width="60px" src="{{ object.company.logo.url }}" alt="company logo">
        {% endif %}
        <h3 class="ms-4">{{ object.company|upper }}</h3>
    </div>
    <div>
        <textarea class="w-100" name="" id="" cols="30" rows="10" readonly value="{{ object.app_text }}">
            {{ object.app_text }}
        </textarea>
    </div>
    <h4>Application posted:</h4>
    <strong><p>{{ object.applied_time }}</p></strong>
</div>

{% endblock %}