{% extends 'base.html' %}
{% load static %}
{% block title %}Companies{% endblock %}
{% block content %}
{% comment %} <div class="card">
    <form class="d-flex d-row flex-wrap justify-content-around align-items-center" action="" method="get">
        {{ filter.form }}
        <input type="submit" value="Filter" />
    </form>
</div> {% endcomment %}
<div class="">
    {% for object in object_list %}
        <a href="{% url 'company_detail' object.pk %}">
            <div class="card shadow mb-2 d-flex flex-row align-items-center"><img width="50px" src="{{ object.logo.url }}" class="me-4"></img>{{ object.company_name|upper }}</div>
        </a>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}