{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  <p>
    Welcome to your dashboard. You can <a href="{% url 'edit_user' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your password</a>.
  </p>
  <ul>
    {% for filter in filters %}
      <li><a href="{% url 'offer_list' %}?offer_tech={{ filter.tech.id|default_if_none:'' }}&{{ filter.get_skill_query }}offer_seniority={{ filter.seniority.id|default_if_none:'' }}&offer_location={{ filter.location.id|default_if_none:'' }}">{{ filter }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
