{% extends 'base.html' %}
{% block title %}{{ object.offer_title }}{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column;">
    <div class="d-flex flex-row align-items-center flex-wrap mb-2">
        {% if object.offer_company.logo %}
            <img width="60px" src="{{ object.offer_company.logo.url }}" alt="file">
        {% endif %}
        <h3 class="ms-4">{{ object.offer_company }}</h3>
    </div>
    <h2>{{ object.offer_title }}</h2>
    <h4>Main tech:</h4>
    <strong><p>{{ object.offer_tech }}</p></strong>
    <h4>Seniority:</h4>
    <strong><p>{{ object.offer_seniority }}</p></strong>
    {% if object.offer_skills %}
        <h4>Skills:</h4>
        <ul>
        {% for skill in object.offer_skills.all %}
            <strong><li>{{ skill }}</li></strong>
        {% endfor %}
        </ul>
    {% endif %}
    <h4>Description:</h4>
    <textarea readonly style="background-color: white;">{{ object.offer_description }}</textarea>
    <h4>Compensation:</h4>
    {% if object.offer_range_min == object.offer_range_max %}
    <strong><p>{{ object.offer_range_min }}</p></strong>
    {% else %}
    <strong><p>{{ object.offer_range_min }} - {{ object.offer_range_max }}</p></strong>
    {% endif %}
    <h4>Offer posted:</h4>
    <strong><p>{{ object.offer_post_time }}</p></strong>
    {% if not request.user.company %}
        <a class="button" href="{% url 'offer_apply' object.pk %}">APPLY FOR THIS OFFER</a>
    {% endif %}
    
</div>

{% endblock %}