{% extends 'base.html' %}
{% block title %}Job offers{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    {% if request.user.is_authenticated %}
        {% if path %}
            <form action="{% url 'filter_add' %}" method='POST' class="d-flex d-row flex-wrap justify-content-end align-items-center">
                <input type="submit" value="Save filter"/>
                <input type="hidden" value="{{ filter.form.offer_tech.value }}" name="offer_tech"/>
                <input type="hidden" value="{{ filter.form.offer_skills.value }}" name="offer_skills"/>
                <input type="hidden" value="{{ filter.form.offer_seniority.value }}" name="offer_seniority"/>
                <input type="hidden" value="{{ filter.form.offer_location.value }}" name="offer_location"/>
                <input type="hidden" value="{{ request.get_full_path }}" name="next"/>
                {% csrf_token %}
            </form>
        {% endif %}
    {% endif %}
    <form class="d-flex d-row flex-wrap justify-content-around align-items-center" action="" method="get">
        {{ filter.form|crispy }}
        <input type="submit" value="Filter"/>
    </form>
</div>
{% comment %} EUREEKAA {% endcomment %}
{% comment %} <div>{{ filter.form.offer_skills.value }}</div>
<div>{{ filter.request.GET }}</div>
<div>{{ filter.request }}</div>
<div>{{ request.get_full_path | cut:'/account/offer/list/' }}</div>   {% endcomment %}
<div class="card">
    {% for object in object_list %}
    <a class="test" href="{% url 'offer_detail' object.pk %}"><div class="list-group-item">{{ object.offer_title }}</div></a>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}