{% extends 'base.html' %}
{% block title %}{{ object.offer_title }}{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column;">
    <h2>{{ object.offer_title }}</h2>
    <h4>Main tech:</h4>
    <strong><p>{{ object.offer_tech }}</p></strong>
    <h4>Seniority:</h4>
    <strong><p>{{ object.get_offer_seniority_display }}</p></strong>
    <h4>Skills:</h4>
    <ul>
    {% for skill in object.offer_skills.all %}
        <strong><li>{{ skill }}</li></strong>
    {% endfor %}
    </ul>
    <h4>Description:</h4>
    <textarea style="background-color: white;">{{ object.offer_description }}</textarea>
    <h4>Compensation:</h4>
    <strong><p>{{ object.offer_compensation }}</p></strong>
    <h4>Minimum compensation:</h4>
    <strong><p>{{ object.offer_range_min }}</p></strong>
    <h4>Maximum compensation:</h4>
    <strong><p>{{ object.offer_range_max }}</p></strong>
    <h4>Offer posted:</h4>
    <strong><p>{{ object.offer_post_time }}</p></strong>
</div>
{% endblock %}